.selectText {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #666666;
}

.selectTextDiv{
    width: 332px;
height: 24px;
left: 99px;
top: 129px;
padding-left: 30px;
padding-top: 10px;
}
